---
// CtaSection.astro
import { ArrowRight } from "@lucide/astro";
import Button from "./ui/Button.astro";
---

<section class="bg-primary py-24 lg:py-32">
  <div class="mx-auto max-w-4xl px-6 text-center">
    <h2
      class="text-4xl text-white md:text-5xl lg:text-6xl font-medium tracking-tighter text-balance"
    >
      Comece sua jornada na dança hoje
    </h2>
    <p
      class="mx-auto mt-6 max-w-xl text-lg xl:text-xl text-white leading-relaxed"
    >
      Agende uma aula experimental gratuita e descubra por que somos referência
      em dança em Porto Alegre.
    </p>
    <div
      class="mt-10 flex flex-col items-center gap-4 sm:flex-row sm:justify-center"
    >
      <Button
        href="#contato"
        variant="white"
      >
        Agendar Aula Experimental
        <ArrowRight class="ml-2 h-4 w-4" />
      </Button>

      <Button
        href="https://wa.me/5551985947939"
        variant="outline"
        target="_blank"
        rel="noopener
      noreferrer"
      >
        Falar pelo WhatsApp
      </Button>
    </div>
  </div>
</section>
